*.db
populate.sh
bin/pos-*
yarn.lock
ui/app/dist/
ui/admin/dist/
public/js/main.*.js
public/js/main.*.js.map
public/js/*.js.LICENSE.txt
node_modules/
config.yaml
*.xlsx
.~lock.*
receipts/*.pdf
receipts/*.html
__debug_bin
.vscode
pos.db.*
stats/
yarn-error.log
