html, body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: #111; */
}

.chakra-accordion__item > .chakra-collapse {
    overflow: initial !important;
}

.small-graph text {
    display: none;
}
