<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <style>
        html, body {
            margin: 0;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <div id="root"></div>
    {{ if not .admin }}
    <script src="/js/main.3912f9e608ee825a59fcdabe51990ac33e0c776bad6c8ec0ab899eb782890aaf.js"></script>
    {{ else }}
    <script src="/js/main.20981f9a0f4f2e1b878ad5a1bf688c57f2c61b069570e6e0c85b06aac814adb0.js"></script>
    {{ end }}
</body>
</html>